
Intermediate/CachedAssetRegistry_0.bin
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Config/CrashReportClient/UECC-Windows-868CD00D4B1B0D0927BE38AFDF42EC09/CrashReportClient.ini
Saved/Logs/MyProject-backup-2024.10.04-18.55.09.log
Saved/Logs/MyProject.log
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_ea5d70b5306083b5/Default/DDCKey-Editor.txt
Saved/SourceControl/UncontrolledChangelists.json
Saved/Telemetry/Telemetry.json
Saved/Telemetry/Telemetry.json
Saved/AutoScreenshot.png
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Logs/MyProject.log
Saved/Telemetry/Telemetry.json
